@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  --main-bg-color: #82D5FB;
  --font-color: rgb(240, 240, 240);
  --hover-color: #b9eec4;
  --border-color: #4C6371;

}

body{
    background-color: var(--main-bg-color);
    display: relative;
    height: 200vh;
    overflow-x: hidden;
}

.guy{
    width: 100vw;
    height: 97vh;
    object-fit: cover;
    position: relative;
}

.desktop{
    width: 100vw;
    height: 97vh;
    object-fit: cover;
    position: relative;
}

.logo{
    color: var(--font-color);
    position: absolute;
    top: 11vh;
    left: 55vw;
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
}
.slide-parent{
    position: relative;
}

.slide{
    position: absolute;
    top: 12vh;
    left: 94vh;
    /* border: 3px solid red; */
    width: 31rem;
    height: 7rem;
    background-color: var(--main-bg-color);
    z-index: 2;
    animation: slidein 2s linear;
    /* animation-iteration-count: infinite; */
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.projects{
    position: absolute;
    top: 22vh;
    left: 1.7vw;
    color: var(--font-color);
    font-size: 3rem;
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 8px;
    padding: 20px 20px;
}

.projects:hover {
    color: var(--hover-color);
    cursor: pointer;
    padding: 18px 18px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.about{
    position: absolute;
    top: 44vh;
    left: 1.7vw;
    color: var(--font-color);
    font-size: 3rem;
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 8px;
    padding: 20px 20px;
}

.about:hover {
    color: var(--hover-color);
    cursor: pointer;
    padding: 18px 18px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

@keyframes slidein {

  to {
    left: 99%;
  }
}

@media only screen and (max-width: 1200px){
    .projects, .about {
        left: 2%;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1145px){
    .logo{
        font-size: 4rem;
        top: 15vh;
    }

    .slide{
        height: 8rem;
        left: 45vw;
    }

    .projects, .about {
        left: 2%;
        font-size: 1.5rem;
        top: 5vh;
    }

    .about {
        left: 20vw;
    }
}
@media only screen and (max-width: 930px){
    .projects, .about {
        left: 2%;
    }
}

@media only screen and (max-width: 930px){
    .logo{
        top: 17vh;
    }

    .slide{
        height: 8rem;
        left: 45vw;
    }

    .about {
        left: 30vw;
    }
}

@media only screen and (max-width: 750px){
    .logo{
        font-size: 3rem;
        top: 19vh;
    }
}

@media only screen and (max-width: 570px){
    .logo{
        font-size: 2.3rem;
        top: 20vh;
        left: 52vw;
        
    }
}

@media only screen and (max-width: 420px){
    .logo{
        font-size: 1.7rem;
        top: 20vh;
        left: 52vw;
    }

    .about {
        left: 50vw;
    }
}