@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --main-bg-color: rgb(130, 213, 251);
  --second-bg-color: #60cdff;
  --main-font-color: #017ab3;
  --second-font-color: rgb(255, 202, 202);
  --hover-color: #b9eec4;
  --border-color: #4C6371;
  --mid-gradient: #a9ffc6;
  --end-gradient: #f7ffae;  
  --link-color: black;
  --padding-8: 8px;

}

body{
    
    background-color: var(--main-bg-color);
    display: relative;
    /* overflow-x: hidden; */
}

.hamburger {
    display: none;
    margin: 20px 20px 0 20px;
    border: 1px solid var(--main-bg-color);
    cursor: pointer;
}

.hamburger-nav {
    display: none;
}

.bar {
    background: var(--main-font-color);
    width: 40px;
    height: 5px;
    border-radius: 5px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.guy{
    width: 100vw;
    height: 97vh;
    object-fit: cover;
    position: relative;
}

.desktop{
    /* width: 100vw; */
    object-fit: cover;
    position: relative;
    margin: 0 auto;
}

.logo{
    color: var(--main-font-color);
    position: absolute;
    top: 11vh;
    left: 55vw;
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
}

.title{
    color: var(--main-font-color);
    position: absolute;
    top: 27vh;
    left: 61vw;
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    opacity: 0.6;
    white-space: nowrap;
}

/* .logo, .title{
    animation: 1.1s forwards linear reveal;
} */

.projects{
    top: 22vh;
    left: 1.7vw;
}


.about{
    position: absolute;
    top: 44vh;
    left: 3.1vw;
}

.projects, .about {
    position: absolute;
    color: var(--second-font-color);
    font-size: 3rem;
    box-shadow: 15px 5px 15px 5px #000000;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-radius: 8px;
    color: rgb(77, 77, 77);
    padding: 20px 20px;
    background: radial-gradient(circle, rgba(108,197,237,1) 0%, rgba(34,145,196,0.7122199221485469) 41%, rgba(0,130,255,1) 100%);
    /* animation: 2s forwards linear rise; */

}

/* .projects:hover, .about:hover, .projects:active, .about:active{
    color: var(--hover-color);
    cursor: pointer;
    padding: 18px 18px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    box-shadow: 3px 5px 15px -1px black;
} */

.projects-page{
    margin-top: 2rem;
    padding-top: 2rem;
    height: 120vh;
    /* min-height: 100vh; */
    /* background-image: linear-gradient(var(--main-bg-color), var(--mid-gradient)); */
}

.about-page{
    /* height: 100vh; */
    /* margin-top: 210vh; */
    background-image: linear-gradient(var(--mid-gradient), var(--end-gradient));
}

.card-content {
    position: relative;
    width: content;
    /* flex-basis: 50%; */
}

.front-image {
    height: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 75%;
    aspect-ratio: 16 / 9;    
}

/* .front-parent{
    transition: transform 1s ease-out;
}

.front-parent:hover, .front-parent:active{
    transform: rotateY(.5turn);
} */

.front-title {
    text-align: center;
    margin: 0;
    padding: 2px 3px 0 3px;
    position: relative;
    font-size: 2rem;
}

.description {
    position: relative;
    text-align: center;
    padding: 0px 4px;
    /* min-height: 50px; */
}

.front-title::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 40%;
    background: rgb(0, 190, 0);
}


.card-front, .card-back{
    width: content;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    gap: 50px 10px;
    flex-wrap: wrap;
} 

.front-parent, .back-parent{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    max-width: 400px;
    min-height: 300px;
    color: black;
    box-shadow: 10px 10px 15px 5px #000000;
    min-width: 400px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.front-parent{
    overflow: hidden;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lang-list, .demo-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.links{
    /* text-decoration: none; */
    margin: 0;
    padding: 0;
    display: block;
    color: var(--link-color);
    min-height: 20px;
    text-transform: capitalize;
    padding-top: 5px;
}

.links:visited{
    color: var(--link-color);
}

.about-page {
    background: var(--main-bg-color);
}

@keyframes reveal {
    from {
        left: 120vw;
    }
}

@keyframes rise {
    from {
        top: 100vh;
    }
}

@media only screen and (max-width: 1270px){
    .projects-page{
        height: 180vh;
    }
}

@media only screen and (max-width: 1200px){
    .projects, .about {
        font-size: 2rem;
    }
    .projects{
        left: 2vw;
    }

    .about{
        left: 3vw;
    }
}

@media only screen and (max-width: 1145px){
    .logo{
        font-size: 4rem;
        top: 5vh;
    }

    .slide{
        height: 8rem;
        left: 45vw;
    }

    .projects, .about {
        left: 2%;
        font-size: 1.5rem;
        top: 5vh;
    }

    .about {
        left: 20vw;
    }

    .title{
        top: 17vh;
        left: 56vw;
    }
}

@media only screen and (max-width: 930px){
    .slide{
        height: 8rem;
        left: 45vw;
    }

    .about {
        left: 30vw;
    }
     
    .projects {
        left: 2vw;
    }
}

@media only screen and (max-width: 851px){
    .projects-page {
        height: 300vh;
    }

    .title, .projects, .about {
    display: none;
    }

    .home {
        margin-top: 0;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-end;
        align-items: flex-end;
    }

    .show .hamburger-nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: content;
    }

    .show .hamburger-nav a:hover, .hamburger-nav:hover {
        font-size: 1.2em;
        color: var(--main-font-color);
    }

    .hamburger-nav a {
        text-decoration: none;
        color: var(--main-font-color);
        margin-right: 20px;
    }
    .hamburger-nav li {
        padding-top: 5px;
        font-size: 2rem;
    }

    .bar {
        margin-bottom: 2px;
        transition: 0.5s ease-out;
    }

    .logo{
        left: 5vw;
        top: 1vh;
    }

    .switch .bar {
        background: var(--main-font-color);
    }

    .switch #bar3 {
        transform: scale(0);
    }

    .switch #bar1 {
        transform: translateY(8px) rotateZ(45deg);
        z-index: 1;
    }

    .switch #bar2 {
        transform: rotateZ(-45deg);
        z-index: 2;
    }
}